## Importing the Dependencies

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

Loading dataset

In [2]:
df = pd.read_csv('creditcard.csv')
df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [3]:
# dataset information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [4]:
# checking missing value in each column
df.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [5]:
# distribution of legit & fraud transaction
df['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

## This Dataset is highly unbalanced

0 = Normal Transaction
1 = Fraudulent Transaction

In [6]:
# seperating the data for analysis
legit =df[df.Class==0]
fraud =df[df.Class==1]

In [7]:
print(legit.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

In [8]:
# Statistical measures of the data
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [9]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [10]:
# Compare the value for both the transaction
df.groupby("Class").mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

## UnderSampling
Building a sample dataset containing similar distribution of both the transaction

In [11]:
legit_sample = legit.sample(n=492)

Now, concatenating two dataframes

In [12]:
new_df = pd.concat([legit_sample, fraud], axis =0)
new_df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
268665,163327.0,-0.255409,1.212788,-0.702689,-0.580697,0.560412,-0.638504,0.525549,0.462543,-0.461977,...,-0.237148,-0.723126,0.171393,0.654638,-0.447121,0.089441,0.090142,0.012685,10.02,0
21180,31522.0,1.140654,0.384777,0.504529,1.191381,-0.240811,-0.766933,0.255560,-0.204936,-0.253350,...,0.112376,0.437614,-0.030052,0.654650,0.582676,-0.337313,0.036964,0.027267,16.79,0
272282,165002.0,0.182514,0.473052,-1.158631,-1.384560,0.390761,-1.397493,1.827761,-0.729139,-1.835450,...,-0.026478,0.487244,-0.306823,-0.035266,0.278253,0.940214,-0.143877,-0.023271,99.90,0
271148,164434.0,2.096017,-1.351746,-1.940886,-1.881259,1.279438,3.675286,-1.592564,0.946429,-0.033800,...,0.338323,0.889300,0.149951,0.742939,-0.120864,-0.070206,0.025022,-0.049442,39.99,0
198605,132564.0,-1.012732,1.214159,-0.014502,0.698242,2.050548,-0.826474,1.227418,-0.187292,-0.845696,...,-0.059419,-0.096878,-0.708985,0.487230,1.179384,-0.315176,-0.031892,0.052798,1.00,0

In [13]:
new_df['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [14]:
new_df.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,93003.237805,0.034700,-0.068620,0.049898,-0.074085,0.025193,0.004902,0.055280,-0.025154,0.023162,...,0.026740,-0.032573,0.004309,-0.005117,-0.040334,0.017524,0.025345,-0.001791,0.010356,96.153130
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

Splitting data into Features and Targets

In [15]:
X = new_df.drop(columns ='Class',axis =1)
Y = new_df['Class']

In [16]:
print(X)

            Time        V1        V2        V3        V4        V5        V6  \
268665  163327.0 -0.255409  1.212788 -0.702689 -0.580697  0.560412 -0.638504
21180    31522.0  1.140654  0.384777  0.504529  1.191381 -0.240811 -0.766933
272282  165002.0  0.182514  0.473052 -1.158631 -1.384560  0.390761 -1.397493
271148  164434.0  2.096017 -1.351746 -1.940886 -1.881259  1.279438  3.675286
198605  132564.0 -1.012732  1.214159 -0.014502  0.698242  2.050548 -0.826474
...          ...       ...       ...       ...       ...       ...       ...
279863  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
280143  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
280149  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
281144  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
281674  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7        V8        V9  ...       V20       V21       V22  \
268665  0.525549  0.462543 -0.461977  ... -0.080010 -0.237148 -0.723126
21180   0.255560 -0.204936 -0.253350  ... -0.085423  0.112376  0.437614
272282  1.827761 -0.729139 -1.835450  ... -0.595166 -0.026478  0.487244
271148 -1.592564  0.946429 -0.033800  ...  0.106453  0.338323  0.889300
198605  1.227418 -0.187292 -0.845696  ... -0.145941 -0.059419 -0.096878
...          ...       ...       ...  ...       ...       ...       ...
279863 -0.882850  0.697211 -2.064945  ...  1.252967  0.778584 -0.319189
280143 -1.413170  0.248525 -1.127396  ...  0.226138  0.370612  0.028234
280149 -2.234739  1.210158 -0.652250  ...  0.247968  0.751826  0.834108
281144 -2.208002  1.058733 -1.632333  ...  0.306271  0.583276 -0.269209
281674  0.223050 -0.068384  0.577829  ... -0.017652 -0.164350 -0.295135

             V23       V24       V25       V26       V27       V28  Amount
268665  0.171393  0.654638 -0.447121  0.089441  0.090142  0.012685   10.02
21180  -0.030052  0.654650  0.582676 -0.337313  0.036964  0.027267   16.79
272282 -0.306823 -0.035266  0.278253  0.940214 -0.143877 -0.023271   99.90
271148  0.149951  0.742939 -0.120864 -0.070206  0.025022 -0.049442   39.99
198605 -0.708985  0.487230  1.179384 -0.315176 -0.031892  0.052798    1.00
...          ...       ...       ...       ...       ...       ...     ...
279863  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968  390.00
280143 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637    0.76
280149  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361   77.89
281144 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700  245.00
281674 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309   42.53

[984 rows x 30 columns]

In [17]:
print(Y)

268665    0
21180     0
272282    0
271148    0
198605    0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

Split the data into training and test data

In [18]:
X_train,X_test,Y_train,Y_test =train_test_split(X,Y, test_size =0.2, stratify=Y, random_state=2)

In [19]:
print(X.shape, X_train.shape,X_test.shape)

(984, 30) (787, 30) (197, 30)

## Model Training

In [20]:
model =LogisticRegression()

# training logistic regression with training data
model.fit(X_train,Y_train)

LogisticRegression()

## Model Evaluation

In [21]:
# Accuracy on training data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction,Y_train)

In [22]:
print(training_data_accuracy)

0.928843710292249

In [23]:
# accuracy on test data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction,Y_test)

In [24]:
print(test_data_accuracy)

0.9137055837563451